Spark/spark-notebooks/.ipynb_checkpoints/*
Spark/spark-exercises/.ipynb_checkpoints/*
Spark/spark-exercises/exercise-solved.ipynb
Scala/.ipynb_checkpoints/*
Sandbox/.ipynb_checkpoints/*
VM-installation/.ipynb_checkpoints/*
